<%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

  <label for="id">投稿者ID</label><a href="#" style="font-size: 90%"> + 編集</a>
  <%= f.text_field :name ,class: "form-control", placeholder:"投稿者IDを入力する" %>

  <label for="comment">コメント</label>
  <%= f.text_field :body ,class: "form-control", rows:"3", placeholder:"コメントを記入する"%>
  <%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>